.feature {
    width: 100%;
    background-color: var(--darker);
    border-radius: 10px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.feature > * {
    padding: 1rem;
}

.feature p {
    padding-top: 0;
    padding-bottom: 0;

    width: 100%;
}

.feature > ul:before {
    content: 'Arguments:';
    font-weight: bold;
}

.feature > ul {
    margin-left: 20px;
}

.feature > summary {
    width: 100%;
}

.feature > summary:hover {
    cursor: pointer
}

.feature > .programming {
    margin-left: auto;
    margin-right: auto;
}

.feature > summary code,
.feature > ul code {
    background-color: transparent;
    font-size: 1.2rem;
}

.parameter-name {
    font-weight: 600;
}